html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.string-calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: black;
}

input {
  color: rgb(34, 34, 34);
  border: 2px solid rgb(51, 12, 205);
  border-radius: 8px;
  padding: 8px 16px;
}

button {
  background-color: rgb(51, 12, 205);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
}
